
.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#joystick {
  position: absolute;

  background-color: #F5F5F5;

  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  #joystick {
    display: none;
  }
}

@media (max-width: 768px) {
  #players, .login {
    display: none !important;
  }
}

.pair-joystick {
  /*width: 100%;
  height: 100%;*/

  /*background-image: url(../images/pair-button-base.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 33%;*/
}

#pair {
  padding: 0;

  width: 200px;
  height: 200px;

  border: none;
  border-radius: 100px;

  background-image: url(../images/pair-button.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;

  outline: none;

  transition: background-size 0.5s;
  -webkit-transition: background-size 0.5s;
}

#pair.down {
  background-size: 99%;
}

.onoff {
  height: 200px;
  width: 200px;
  display: block;
  background-position: center center;
  background-image: url(../images/onoff.png);
  background-repeat: no-repeat;
  background-size: 20%;
}

article:not(.pair-joystick) {
  display: none;

  width: 49%;
  height: 100%;
}

article:nth-child(2) {
  float: left;
}

article:last-child {
  float: right;
}

.trigger-base {
  width: 100%;
  height: 100%;
}

.elastic-base {
  overflow: visible !important;
  border: 1px solid rgba(0,0,0, .1);
  box-shadow: 0px 0px 100px rgba(0,0,0, 0.7);
  background: rgba(0,0,0, 0.2);
}

.elastic-base,
.trigger {
  width: 80px;
  height: 80px;

  border-radius: 80px;
}

.trigger {
  background: rgba(0,0,0, .3);
  border: none;
  box-shadow: 0px 0px 100px rgba(0,0,0, 0.7),
              inset 0px 0px 100px rgba(0,0,0, 0.7);
}
